@use "@/styles/components/global.scss" as *;

.tag-game-page {
    position: relative;
    display: flex;

    &.fullscreen {
        .mobile-menu {
            top: 0px;
        }
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        overflow: hidden;

        img {
            filter: blur(2px) brightness(0.80);
            transform: scale(1.05);
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .menu-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 3;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .mobile-menu {
        position: fixed;
        bottom: 50px;
        left: 0;
        width: 100%;
        top: 50px;
        // height: calc(100vh - 50px);
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.75);
        transform: translateY(calc(100% + 50px));
        transition-duration: 200ms;
        padding: 1rem;
        display: flex;
        align-items: flex-end;

        &.show {
            transform: translateY(0);
        }

    }

    .touch-controls-area {
        position: fixed;
        bottom: 50px;
        left: 0;
        width: 100%;
        height: 150px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);

        padding: 1rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // @include media-breakpoint-up(lg) {
        //     display: none;
        // }
    }

    .debug-info,
    .game-info {
        height: calc(100vh - 100px);

        .card {
            height: 100%;
        }
    }

    .debug-info {
        width: 300px;
        flex-shrink: 0;
        // flex-basis: 300px;
    }

    .game-info {
        width: 300px;
        flex-shrink: 0;
    }

    .canvas-wrap {
        position: relative;
        height: 100%;
        width: 100%;
        // max-width: 500px;
        // max-height: 800px;
        width: 100vw;
        height: calc(100vh - 0px);

        canvas {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

    .game {
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: center;
    }

    .ad {
        // padding: 1rem;
    }

    .panel-left, .panel-right {        
        width: 300px;
        height: calc(100vh - 0px);
        flex-shrink: 0;
    }

    .panel-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-panel {
        width: 100%;
    }

}